$$ ITI \space AI: \space Intake \space 45 $$
$$ Recommender \space Systems $$
$$ Lab \space no. \space 1 $$

# `01` Import Necessary Libraries

## `i` Default Libraries

In [1]:
import numpy as np
import pandas as pd

## `ii` Additional Libraries
Add imports for additional libraries you used throughout the notebook

----------------------------

# `02` Load Data

In [2]:
ratings = pd.read_csv("Data/songsDataset.csv", names=['userID', 'songID', 'rating'], skiprows=[0])
ratings.head()

   userID  songID  rating
0       0   90409       5
1       4   91266       1
2       5    8063       2
3       5   24427       4
4       5  105433       4

---------------------------------

# `03` Similarity Metrics

## `0` Utility Matrix
Construct utility matrix for the loaded data `ratings`
- Users as Index
- Songs as Columns

**Hint**: you can use `pandas.DataFram.pivot` method (see [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html))

In [ ]:
utility_matrix = None

## `i` Cosine Similarity
Finish implmenting the function below to calculate `Cosine Similarity` between two vectors

In [111]:
def cosine_sim(vec_a, vec_b):
    """
    Returns the raw cosine similarity score between two vectors.

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """
    
    sim_score = None

    return sim_score

In [ ]:
print(f'Cosine Similarity between userID 56 and userID 227 is: {cosine_sim(utility_matrix.iloc[56].copy(), utility_matrix.iloc[227].copy())}')

Cosine Similarity between userID 56 and userID 227 is: 0.7808688094430304

## `ii` Adjusted Cosine Similarity
Finish implmenting the function below to calculate `Adjusted Cosine Similarity` between two vectors

In [113]:
def adjusted_cosine_sim(vec_a, vec_b):
    """
    Returns the adjusted cosine similarity score between two vectors.

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """
    
    sim_score = None

    return sim_score

In [ ]:
print(f'Adjusted Cosine Similarity between userID 56 and userID 227 is: {adjusted_cosine_sim(utility_matrix.iloc[56].copy(), utility_matrix.iloc[227].copy())}')

Adjusted Cosine Similarity between userID 56 and userID 227 is: 0.7764278070396685

## `iii` Pearson Correlation Coefficient
Finish implmenting the function below to calculate `Pearson Correlation Coefficient` between two vectors

In [115]:
def pearson_sim(vec_a, vec_b):
    """
    Returns the pearson similarity score between two vectors.

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """
    
    sim_score = None

    return sim_score

In [ ]:
print(f'Pearson Similarity between songID 3785 and songID 17029 is: {pearson_sim(utility_matrix[3785].copy(), utility_matrix[17029].copy())}')

Pearson Similarity between songID 3785 and songID 17029 is: -0.015085785303531026

## `iv` Mean Squared Difference
Finish implmenting the function below to calculate `Mean Squared Difference` between two vectors

**Note**: Make sure you calculate the difference for common dimensions only (i.e. the dimensions both items/users have non-zero values in)

In [117]:
def msd_sim(vec_a, vec_b):
    """
    Returns the mean squared difference similarity score between two vectors.
    Note: Only consider common items between the two vectors

            Parameters:
                vec_a (pandas.Series): Vector A
                vec_b (pandas.Series): Vector B

            Returns:
                sim_score (float): Similarity score between vectors vec_a and vec_b 
    """

    sim_score = None

    return sim_score

In [ ]:
print(f'MSD Similarity between userID 56 and userID 227 is: {msd_sim(utility_matrix.iloc[56].copy(), utility_matrix.iloc[227].copy())}')
print(f'MSD Similarity between songID 3785 and songID 17029 is: {msd_sim(utility_matrix[3785].copy(), utility_matrix[17029].copy())}')

MSD Similarity between userID 56 and userID 227 is: 1.0
MSD Similarity between songID 3785 and songID 17029 is: 0.6363636363636364

--------------------------

# `04` Collaborative Filtering

Practice for item-based collaborative filtering

## `0` Utility Matrix
Construct utility matrix for the loaded data `ratings`
- Songs as Index
- Users as Columns

In [13]:
utility_matrix = None

In [ ]:
utility_matrix.head()

userID,0,4,5,7,14,20,31,33,40,46,...,199956,199969,199973,199974,199975,199976,199980,199988,199990,199996
songID,,,,,,,,,,,,,,,,,,,,,
2263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
3785,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8063,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## `i` Item-Item Similarity Matrix

Construct item-item (Cosine/Adjusted Cosine) similarity matrix from the utility matrix  above.

In [148]:


sim_mat = None

In [ ]:
sim_df = pd.DataFrame(sim_mat, index=utility_matrix.index, columns=utility_matrix.index)
sim_df.head()

songID,2263,2726,3785,8063,12709,13859,16548,17029,19299,19670,...,113954,119103,120147,122065,123176,125557,126757,131048,132189,134732
songID,,,,,,,,,,,,,,,,,,,,,
2263,1.000000,-0.006500,-0.017511,-0.016326,-0.017520,-0.013347,-0.022847,-0.007725,-0.017581,-0.017882,...,-0.007331,-0.008085,-0.009286,-0.004556,-0.020674,-0.014522,-0.011948,-0.013081,-0.017415,-0.012329
2726,-0.006500,1.000000,-0.016699,-0.010940,-0.016806,-0.011452,-0.023635,0.013240,-0.019354,-0.020125,...,-0.000729,0.009470,0.013797,-0.016811,-0.018107,-0.009166,-0.011642,-0.012274,-0.023020,-0.007772
3785,-0.017511,-0.016699,1.000000,0.001511,-0.002429,-0.007363,-0.010149,-0.015086,-0.013344,-0.014637,...,-0.015709,-0.007970,-0.015821,-0.015284,-0.005766,-0.010261,-0.013300,-0.007578,-0.007490,-0.003461
8063,-0.016326,-0.010940,0.001511,1.000000,-0.003506,-0.001862,-0.013025,-0.005731,0.007944,-0.016066,...,-0.019480,-0.001559,-0.014644,-0.015865,-0.004209,-0.006944,-0.011152,-0.006553,-0.013862,0.005777
12709,-0.017520,-0.016806,-0.002429,-0.003506,1.000000,-0.011653,-0.014726,-0.004692,-0.002641,-0.006035,...,-0.014878,-0.011811,-0.006868,-0.007521,-0.013235,-0.011558,-0.016553,-0.009346,0.000393,-0.005000

## `ii` Candidate Generation and Filtering

Filter out items (user 199988) has rated from the similarity matrix above.

In [ ]:
user_id = 199988
potential_items = None
potential_items

Int64Index([2726, 19299, 43267, 56660], dtype='int64', name='songID')

In [ ]:
filtered_sim_df = None

In [ ]:
filtered_sim_df

songID,2263,3785,8063,12709,13859,16548,17029,19670,22763,24427,...,113954,119103,120147,122065,123176,125557,126757,131048,132189,134732
songID,,,,,,,,,,,,,,,,,,,,,
2726,-0.006500,-0.016699,-0.010940,-0.016806,-0.011452,-0.023635,0.013240,-0.020125,-0.023036,-0.017468,...,-0.000729,0.009470,0.013797,-0.016811,-0.018107,-0.009166,-0.011642,-0.012274,-0.023020,-0.007772
19299,-0.017581,-0.013344,0.007944,-0.002641,-0.003426,-0.001161,-0.012135,-0.004975,0.005505,0.001551,...,-0.018252,-0.005171,-0.015623,-0.002624,0.014827,-0.013707,-0.017614,-0.000595,-0.011755,0.006850
43267,-0.009534,-0.008429,-0.010259,-0.013956,-0.012019,-0.016373,0.007456,-0.018029,-0.017540,-0.007722,...,-0.007470,0.016524,0.018883,-0.015632,-0.013380,-0.006118,-0.003468,-0.010407,-0.018965,0.004009
56660,-0.016032,-0.007015,-0.009887,0.004105,-0.014507,-0.020362,-0.007994,-0.009040,-0.008463,-0.007020,...,-0.019435,-0.007092,-0.011000,-0.010886,-0.003124,-0.009896,-0.014101,-0.009387,0.002315,0.000836

## `iii` Top-K Candidate Selection

Selet top-K (a k of your choice) similar items for each item (user 199988) rated from the filtered similarity matrix above.

## `iv` Candidate Rating Prediction

Calculate the predicted rating for each of the candidate items.

,predicted_rating,ref_1,ref_1_similarity,ref_1_rating,ref_2,ref_2_similarity,ref_2_rating
candidate,,,,,,,
45026,3.0,43267,0.010135,3,<NA>,<NA>,<NA>
86341,5.0,2726,0.009534,5,<NA>,<NA>,<NA>
17029,4.279497,2726,0.01324,5,43267,0.007456,3
12709,5.0,56660,0.004105,5,<NA>,<NA>,<NA>
40712,5.0,2726,0.012574,5,<NA>,<NA>,<NA>
123176,5.0,19299,0.014827,5,<NA>,<NA>,<NA>
90409,5.0,56660,0.020505,5,<NA>,<NA>,<NA>
134732,5.0,19299,0.00685,5,<NA>,<NA>,<NA>
60465,5.0,56660,0.003673,5,<NA>,<NA>,<NA>
120147,3.844362,2726,0.013797,5,43267,0.018883,3
43827,5.0,19299,0.00763,5,<NA>,<NA>,<NA>
8063,5.0,19299,0.007944,5,<NA>,<NA>,<NA>
105433,5.0,19299,0.027774,5,<NA>,<NA>,<NA>
42906,3.0,43267,0.011221,3,<NA>,<NA>,<NA>
48731,5.0,56660,0.015657,5,<NA>,<NA>,<NA>
25182,5.0,56660,0.002357,5,<NA>,<NA>,<NA>
119103,3.72862,2726,0.00947,5,43267,0.016524,3

------------------------------------------------------

# `05` Additional Tasks

## `i` Explore Surprise Library

- Install Scikit Surprise library.
- Explore the Library Documentation

## `ii` Implement Item-Based KNN Approach

- Follow the steps explained in the sessions to prepare the KNN approach.
- Generate prediction ratings for user $199988$ on all songs.

----------------------------------------------

$$ Wish \space you \space all \space the \space best \space ♡ $$
$$ Mahmoud \space Shawqi $$